@font-face {
  font-family: "star-font";
  src: url("../assets/fonts/star-font.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "new-amsterdam";
  src: url("../assets/fonts/new-amsterdam.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
